{% extends 'center_user.html' %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/table_form.css">
    <link rel="stylesheet" type="text/css" href="/static/css/center.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
{% endblock link %}





{% block center_info %}

<div class="centerContent ml10">
        <div class="centerTitle">
            <span class="centerICON icon_6"></span>
            <h2>会员公告</h2>
        </div>
        <div class="centerDisArea">
            <table class="comTab mt20" border="0">

                <tbody><tr>
                    <td class="line">1：</td>
                    <td>
                        <p><a href="#"><b>欢迎注册微信群</b></a></p>
                        <p>尊敬的用户：欢迎注册微信群</p>
                    </td>
                </tr>


            </tbody></table>

<div class="pageNo vm center">





            <a class="selected">1</a>




















       <span class="pl20 f14 c80">跳转到：</span><input type="text" class="isTxtBig w30"><a href="#" id="link">GO</a>

</div>
<script>
page_link = "#";
</script>

        </div>
    </div>
{% endblock %}