{% extends 'center_user.html' %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/table_form.css">
    <link rel="stylesheet" type="text/css" href="/static/css/center.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
{% endblock link %}

{% block center_info %}
    <div class="centerContent ml10">
        <div class="centerTitle">
        <span class="centerICON icon_6">
        </span>
            <h2>
                修改资料
            </h2>
        </div>
        <div class="centerDisArea">
            <form id="form" method="post" action="/user_center/change_info/" enctype="multipart/form-data">
                <input type="hidden" name="_xsrf" value="2|39d9c3f3|99a99591509b475ab398072428e2dfd5|1577428875">


                <input type="hidden" name="id" value={{ request.user.pk }}>

                <table class="comTab mt20" border="0">
                    <tbody>
                    <tr>
                        <td class="line">
                            用户名：
                        </td>
                        <td>
                            {{ request.user.username }}
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            昵称：
                        </td>
                        <td>
                            <input type="text" class="ipt" name="name" value={{ request.user.pet_name }}
                            >
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            头像：
                        </td>
                        <td>
                            <p>
                                <label for="image_icon" class="image-upload btn btn_green">上传头像</label>
                            </p>
                            <input name="icon" id="icon" value="" type="hidden">
                            <form id="image_upload_image_icon" action="/upload_image?json=1" method="post"
                                  enctype="multipart/form-data"><input class="file" name="image_icon" id="image_icon"
                                                                       style="position:absolute;top:-200px;left:0;"
                                                                       type="file"></form>
                            <p>
                                <img name="image_icon_1" id="image_icon_1" src="/static/images/code_add.jpg"
                                     class="upload">
                            </p>
                            <div id="iconTip" class="onShow">请上传群,禁止黄色,低俗,泳装照片</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">生日：</td>
                        <td>

                            <select class="sl" name="year" id="year">
                                {% if request.user.brithday %}
                                    <option selected
                                            value={{ request.user.brithday | date:'Y' }}>{{ request.user.brithday | date:'Y' }}年
                                    </option>
                                {% else %}
                                    <option selected="" value="">年</option>

                                {% endif %}

                                {% for  y in year %}
                                    <option value=y>{{ y }}年</option>

                                {% endfor %}


                            </select>
                            <select class="sl" name="month" id="month">
                                {% if request.user.brithday %}
                                    <option selected
                                            value={{ request.user.brithday | date:'m' }}>{{ request.user.brithday | date:'m' }}月
                                    </option>
                                {% else %}
                                    <option selected="" value="">月</option>

                                {% endif %}

                                {% for  m in month %}
                                    <option value=m>{{ m }}月</option>

                                {% endfor %}

                            </select>
                            <select class="sl" name="day" id="day">
                                {% if request.user.brithday %}
                                    <option selected
                                            value={{ request.user.brithday | date:'d' }}>{{ request.user.brithday | date:'d' }}日
                                    </option>
                                {% else %}
                                    <option selected="" value="">日</option>

                                {% endif %}
                                {% for d in day %}
                                    <option value=d>{{ d }}日</option>

                                {% endfor %}


                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="line">
                            地区：
                        </td>
                        <td>
                            <script>
                                function select_join_ex(src, dst, parent, child, elm) {
                                    link = '/select/join/';

                                    var child_select = jQuery(elm).parents('form').find("#" + child);
                                    var parent_select = jQuery(elm).parents('form').find("#" + parent);
                                    var id = parent_select.val();

                                    console.log(id);
                                    {#var _xsrf = '_xsrf=' + getCookie("_xsrf");#}
                                    {#console.log(_xsrf);#}
                                    jQuery.ajax({
                                        url: link + '?' + 'cirty=' + id,
                                        type: "get",
                                        dataType: "json",
                                        success: function (arr) {
                                            $("#province_codeTip").css('display', 'none');
                                            console.log(arr);
                                            child_select.empty();

                                            for (var i = 0; i < arr['data'].length; ++i) {
                                                e = arr['data'][i];
                                                child_select.append("<option value='" + e.id + "'>" + e.name + "</option>");
                                            }


                                            if (child_select.prev('span'))
                                                child_select.prev('span').html('');

                                            try {
                                                child_select.uniform({selectAutoWidth: false});
                                            } catch (e) {
                                            }
                                        }//function

                                    });
                                }
                            </script>
                            <select class="sl" name="province_code" id="province_code"
                                    onchange="select_join_ex('province','city','province_code','city_code', this)">
                                {% if province_code %}
                                    <option value={{ province_code }}>{{ province_code }}</option>
                                    {% for cirty in china_cirty %}
                                        <option value={{ cirty }}>{{ cirty }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="" selected="">请选择</option>
                                    {% for cirty in china_cirty %}
                                        <option value={{ cirty }}>{{ cirty }}</option>
                                    {% endfor %}
                                {% endif %}


                            </select>


                            <select class="sl" name="city_code" id="city_code">
                                {% if city_code %}
                                    <option value={{ city_code }}>{{ city_code }}</option>
                                    {% for cirty in already_cirty %}
                                        <option value={{ cirty }}>{{ cirty }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="" selected="">请选择</option>

                                {% endif %}

                            </select>
                            {#                            <script type="text/javascript">#}
                            {#                                $.ajax({#}
                            {#                                    url: '/ajax/city',#}
                            {#                                    type: 'get',#}
                            {#                                    success: function (data) {#}
                            {#                                        if (data.p != '') {#}
                            {#                                            $('#province_code').val(data.p);#}
                            {#                                            $('#province_code').change();#}
                            {#                                            if (data.c != '') {#}
                            {#                                                $('#city_code').val(data.c);#}
                            {#                                            }#}
                            {#                                        }#}
                            {#                                    }#}
                            {#                                });#}
                            {##}
                            {##}
                            {#                            </script>#}
                            {#                            <div id="province_codeTip" class="onError">不能为空</div>#}
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="centerSubmit">
                    <input type="submit" class="btn_pink" value="修改资料">
                </div>
            </form>
        </div>
    </div>

{% endblock center_info %}