<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href="/static/bootstrp/css/bootstrap.css">
    {#    <link rel="stylesheet" href="/static/css/index.css">#}
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrp/js/bootstrap.js"></script>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/js/com.js" type="text/javascript"></script>
    <script src="/static/js/jquery.lazyload.min.js" type="text/javascript"></script>

    <script src="/static/js/artDialog.js"></script>
{% block link %}{% endblock link %}
{% block style %}{% endblock style %}
</head>
<body>


<div class="header">

    <div class="top">
        <div class="msg clearfix">
            <div class="welcome">
                <h1 class="caaa" style="line-height: 35px; font-size: 12px;">
                    {#					<a href="/group">微信群</a>#}
                    {#					<a href="/ad_group?t=82" style="color: #eee;border: 1px solid #eee;">微信红包群</a>#}
                    {#					<a href="/group?t=41">微商群</a>#}
                    {#					<a href="/group?t=56">创业群</a>#}
                    {#					<!-- <a href="/group?t=36">兼职群</a> -->#}
                    {#					<a href="/group?t=24">母婴群</a>#}
                    {#					<a href="/group?t=62">互赞群</a>#}
                    {#					<a href="/group?t=11">交友群</a>#}
                    {#					<a href="/group?t=16">美女群</a>#}
                    {#					<a href="/group?t=67">闲聊群</a>#}
                    {#					<a href="/group?t=42">营销群</a>#}
                    {#					<!-- <a href="/ad_group?t=83">微信福利群</a>#}
                    {#					<a href="/group?t=50">富婆群</a> -->#}
                    {#					<a href="/group?t=66">土豪群</a>#}
                    {#					<a href="/group?t=115">淘宝优惠券</a>#}
                    {#					<a href="/personal">微信号</a>#}
                    {#					<a href="/openid">微信公众号</a>#}
                    此处是for循环，把所有的标签搞出来
                </h1>
            </div>
            {#            <div class="record">#}
            {#                <!-- <a href="/about?id=24">帮助中心</a> -->#}
            {#                <a href="javascript:;" class="everyday_sign_in diag">8小时签到</a>#}
            {#                |<a href="images/code.jpg" target="_blank" class="follow_tip_link" style="width: 60px;color: #ff3265;">手机端入口#}
            {#				<i class="weixinqunICON wxICON_1"></i>#}
            {#				<div class="follow_tip hide" data-content="▲">#}
            {#                	<img src="images/code.jpg" alt="二维码">#}
            {#                    保存图片后，随时访问手机端！#}
            {#                </div>#}
            {#			    </a>#}
            {#            </div>#}
            <div class="sign_in_prompt"
                 style="background-color: #ff3265;border-radius: 5px;color: white;display: none;font-weight: bold;left: 48%;padding: 0 5px;position: absolute;top: 35%;z-index:9999;">
                您已成功签到，并增加了15个金币！
            </div>
        </div>
    </div>

    <div class="logo">
        <div class="w1200" style="position: relative;">
            <a class="wxq" href="/" title="微信群">微信群</a>
            <span style="position: absolute;top: 65px;left: 0;width: 126px;text-align: center;font-size: 16px;color: #f00;">此处是logo</span>
            <div class="fl" style="margin-left: 15px;">
                <img src="/static/images/slogan_03.png" width="160" alt="快速加粉，秒杀一切">
            </div>
            <div class="search">
                <div class="search-main clearfix">
                    <div class="btn-classify">
                        <span id="s_name">微信群</span>
                        <i class="index-list-icon"></i>
                    </div>
                    <div class="fl search-input">
                        <div>
                            <input type="text" class="fl" placeholder="请输入关键字">
                        </div>
                    </div>
                    <a class="qt-btn btn-green-linear btn-search fr" href="javascript:;" id="s_btn"><i
                            class="index-search-icon"></i></a>
                </div>
                <div class="search-hot">
                    <a href="javascript:;">热门搜索：</a>
                    <a href="/search?t=group&amp;key=创业群">创业群</a>
                    <a href="/search?t=gr   oup&amp;key=交友群">交友群</a>
                    <a href="/search?t=group&amp;key=互粉群">互粉群</a>
                    <a href="/search?t=group&amp;key=驴友群">驴友群</a>
                    <a href="/search?t=group&amp;key=宝妈群">宝妈群</a>
                    <a href="/search?t=group&amp;key=引流群">引流群</a>
                </div>
                <div class="search-classify">
                    <div class="list-box">
                        <dl id="sr_span">
                            <dd data="group"><a href="javascript:;">微信群</a></dd>
                            <dd data="personal"><a href="javascript:;">个人号</a></dd>
                            <dd data="openid"><a href="javascript:;">公众号</a></dd>
                        </dl>
                    </div>
                </div>
                <script>
                    $('.btn-classify').click(function () {
                        $('.search-classify').toggle();
                    });
                    $('.search-classify dd a').click(function () {
                        $('.search-classify').hide();
                        var str = $(this).html();
                        console.log(str);
                        $('#s_name').html(str);
                    });
                </script>
                <!--<div class="fl">
                    <input type="text" id="bdcsMain" class="serTxt">
                    <input class="btn_search " id="s_btn" value="搜 索" type="submit" onclick="window.open('http://zhannei.baidu.com/cse/search?s=1626844590849882386&entry=1&q='+document.getElementById('bdcsMain').value)">
                </div>-->
                <!--<ul id="sr_span" class="searchUl">
                    <li class="cur" data="group"><span><i></i>微信群</span></li>
                    <li data="personal"><span><i></i>微信号</span></li>
                    <li data="openid"><span><i></i>公众号</span></li>
                </ul>


                <div class="fl">
                    <a href="/about?id=25"><span class="weixinqunICON wxICON_2"> </span></a><a href="/about?id=25"><span class="weixinqunICON wxICON_3"> </span></a>
                </div>
                <div class="clearfix"></div>
                <p class="caaa">热门搜索：
                    <a href="/search?t=group&key=%e5%be%ae%e4%bf%a1%e7%ba%a2%e5%8c%85%e7%be%a4">微信红包群</a>
                    <a href="/search?t=group&key=%e5%be%ae%e4%bf%a1%e7%a6%8f%e5%88%a9%e7%be%a4">微信福利群</a>
                    <a href="/search?t=group&key=%e9%ab%98%e7%ba%a7%e7%be%a4">高级群</a>
                </p>-->
                {#                <div class="scrollNotice" id="scrollDiv">#}
                {#                    <ul style="margin-top: -19.526px;">#}
                {##}
                {##}
                {#                        <li><a href="/article?id=823479" target="_blank">投诉中心.(骗子欺诈,赌博行为,发现一律删除封号)</a></li>#}
                {#                        <li><a href="/article?id=814458" target="_blank">净网行动” 违规内容清查.. 手机端无法登录网站，看这里！</a></li>#}
                {#                    </ul>#}
                {#                </div>#}
                <script type="text/javascript">
                    function AutoScroll(obj) {
                        $(obj).find("ul:first").animate({
                            marginTop: "-25px"
                        }, 1000, function () {
                            $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
                        });
                    }

                    $(document).ready(function () {
                        setInterval('AutoScroll("#scrollDiv")', 5000)
                    });
                </script>
            </div>
            <a href="https://www.jianzhi.net/" class="xcxbtn" target="_blank"
               style="width:120px;top:2px;margin-left:150px;"><i></i><span style="padding-left: 12px;">广告入口</span></a>
            {#			<!-- <a href="https://www.weixinqun.com/sell" class="xcxbtn qjy_icon diag" style="top: 30px;"><i></i>微信群交易</a> -->#}


            <div class="fr login" id="user_not_login" style="">
                {% if request.user.username %}

                    <a href="/user_center/info/" style="border-right:1px solid #d2d2d2"
                       class="user-center top_login diag">个人中心</a>
                    <a href="/logout/" class="user-center top_reg diag">退出</a>
                {% else %}
                    <a href="/login/" style="border-right:1px solid #d2d2d2"
                       class="user-center top_login diag">登录</a>
                    <a href="/register/" class="user-center top_reg diag">注册</a>
                {% endif %}
            </div>


            <!--<div style="float: right;margin-right: 100px;">
                <a href="javascript:;" class="follow_tip_link">
                    <span class="wxICON_0"></span>
                    <div class="follow_tip hide follow_tip_app" data-content="▲">
                    <img src="images/apk.png" alt="手机APP安卓版">
                    手机APP安卓版
                    </div>
                </a>
            </div>-->
        </div>
    </div>
    <script>

        $(function () {
            var type = "group";
            var key = "";

            $("dl#sr_span > dd").click(function () {
                $("dl#sr_span > dd").removeClass("cur");
                $(this).addClass("cur");
            })

            $("dl#s_label>dd, dl#sr_span > dd").bind('click', function () {
                type = $(this).attr('data');
            });

            function search() {
                var val = $('.search-input input').val();
                if (!val) {
                    alert('请输入搜索内容');
                    return;
                }
                var key = encodeURI(val);
                location.href = "/search?t=" + type + "&key=" + key;
            }

            $('#s_btn').bind('click', search);

            $('.search-input input').keydown(function (e) {
                if (e.keyCode == 13) {
                    search();
                    //window.open('http://zhannei.baidu.com/cse/search?s=1626844590849882386&entry=1&q='+document.getElementById('bdcsMain').value)
                }
            });
        });
        $(".follow_tip_link").hover(function () {
            $(".record i").toggleClass('wxICON_1_rotate');
        });


    </script>



{% block nav %} {% endblock nav %}

</div>

{% block center %} {% endblock center %}

</body>
</html>