    .navbar{
        background:url("/static/images/headerbgm/timg (3).jpg");
    }
        .info{

          margin-top: 10px;
          color: darkgray;

        }
        .coment1{
            margin-right: 2px;
        }
